@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  --background: #f;
  --foreground: #f2f2f2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f2f2;
    --foreground: #f2f2f2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Raleway", Helvetica, sans-serif;
}
